<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_purchasetogether</name>
    <displayName><![CDATA[Frequently purchased together PRO]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Recommend customer to add products which are frequently purchased together to shopping cart]]></description>
    <author><![CDATA[ETS-Soft]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>